body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: 10pt;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-overflow-scrolling: touch;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background: black;
}

.content {
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-anchor {
  position: relative;
  width: 460px;
  height: 500px;
}

.content-scrollable {
  overflow: scroll;
  height: 500px;
  position: relative;
  right: calc(var(--mouse-x) * 8px);
  top: calc(var(--mouse-y) * -8px);
  transition: all ease-out 0.2s;
  /* overflow x cant be visible if overflow y is scroll */
  padding: 150px;
  margin: -150px;
  padding-right: calc(var(--mouse-x) * 8px + 150px);
}

.left-bar {
  position: absolute;
  left: calc(var(--mouse-x) * -24px - 250px);
  transform: rotate(-90deg) translateY(-50%);
  top: calc(var(--mouse-y) * -16px + 50%);
  letter-spacing: 3px;
  transition: all ease 0.2s;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav > a {
  margin: 8px;
}

.right-bar {
  position: absolute;
  right: calc(var(--mouse-x) * 24px - 150px);
  transform: rotate(90deg) translateY(-50%);
  top: calc(var(--mouse-y) * -16px + 50%);
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: all ease-out 0.2s;
}

.bottom-bar {
  position: absolute;
  bottom: calc(var(--mouse-y) * 24px - 150px);
  right: calc(var(--mouse-x) * 16px + 100px);
  font-size: 12px;
  letter-spacing: 2px;
  transition: all ease-out 0.2s;
}
.top-bar {
  position: absolute;
  top: calc(var(--mouse-y) * -16px - 160px);
  left: calc(var(--mouse-x) * -24px + 100px);
  transition: all ease-out 0.2s;
}

.landing {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.landing img {
  width: 460px;
  /*height: 360px;*/
  object-fit: cover;
  margin-bottom: 24px;
}

.landing h3 {
  font-weight: 800;
  letter-spacing: 5px;
  font-size: 96px;
  color: #ff3500;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-transform: uppercase;
}

.landing h3::before {
  content: attr(data-text);
  position: absolute;
  top: -35%;
  clip-path: inset(0 0 52% 0);
  text-transform: uppercase;
}

.landing h3.bottom {
  bottom: 20%;
  top: initial;
}

.landing h3.bottom::before {
  bottom: -25%;
  top: initial;
  clip-path: inset(65% 0 0 0);
}

.landing .cover {
  position: relative;
}

.print {
  /* SinglePhotoGallery's parent needs a defined height */
  height: 100%;
}

.about {
}

@media only screen and (max-width: 768px) {
  /* responsive here */
  .content {
    height: auto;
  }
  .content-anchor {
    width: auto;
    height: auto;
  }

  .content-scrollable {
    height: auto;
    padding: 84px 60px;
    margin: 0;
  }

  .top-bar,
  .left-bar,
  .bottom-bar,
  .right-bar {
    position: fixed;
  }
  .top-bar {
    top: 10px;
  }
  .bottom-bar {
    bottom: 10px;
  }
  .left-bar {
    left: -100px;
  }
  .right-bar {
    right: 10px;
  }

  .landing h3 {
    font-size: 36px;
  }
}
